:root {
  --mainColor: #e2b992;
  --mainShadow: 12px 12px 24px #805024, -12px -12px 24px #885e33;
  --mainRadius: 5px 5px 0 0;

  --secondaryColor: #e6c3a3;
  --secondaryShadow: 12px 12px 24px #7c522a, -12px -12px 24px #835428;
  --secondaryRadius: 5px;

  --borderColor: #fdd0a5;

  --mainText: beige;
  --secondaryText: #4b5156;

  --themeDotBorder: white;

  --previewBg: rgb(251, 249, 243, 0.6);
  --previewShadow: #dfa977;

  --inputField: inset 8px 8px 24px #916339, inset -8px -8px 24px #9c7149;

  --buttonColor: #e2b992;
}
